# Working with REST countries

In [1]:
import requests

Prompt für ChatGPT: ```Can show me the API request I need to write, to get all the names, capitals, population of all the countries in the REST Countries API? Can you show me using Python?```

In [6]:
# Code from CHATGPT. Delivered with 

url = "https://restcountries.com/v2/all?fields=name,capital,population"

response = requests.get(url)

if response.status_code == 200:
    countries = response.json()
    for country in countries:
        name = country.get("name", "N/A")
        capital = country.get("capital", "N/A")
        population = country.get("population", "N/A")
        print(f"Name: {name}, Capital: {capital}, Population: {population}")
else:
    print(f"Error {response.status_code}: Unable to fetch data.")

Name: Afghanistan, Capital: Kabul, Population: 40218234
Name: Åland Islands, Capital: Mariehamn, Population: 28875
Name: Albania, Capital: Tirana, Population: 2837743
Name: Algeria, Capital: Algiers, Population: 44700000
Name: American Samoa, Capital: Pago Pago, Population: 55197
Name: Andorra, Capital: Andorra la Vella, Population: 77265
Name: Angola, Capital: Luanda, Population: 32866268
Name: Anguilla, Capital: The Valley, Population: 13452
Name: Antarctica, Capital: N/A, Population: 1000
Name: Antigua and Barbuda, Capital: Saint John's, Population: 97928
Name: Argentina, Capital: Buenos Aires, Population: 45376763
Name: Armenia, Capital: Yerevan, Population: 2963234
Name: Aruba, Capital: Oranjestad, Population: 106766
Name: Australia, Capital: Canberra, Population: 25687041
Name: Austria, Capital: Vienna, Population: 8917205
Name: Azerbaijan, Capital: Baku, Population: 10110116
Name: Bahamas, Capital: Nassau, Population: 393248
Name: Bahrain, Capital: Manama, Population: 1701583
Name: Bangladesh, Capital: Dhaka, Population: 164689383
Name: Barbados, Capital: Bridgetown, Population: 287371
Name: Belarus, Capital: Minsk, Population: 9398861
Name: Belgium, Capital: Brussels, Population: 11555997
Name: Belize, Capital: Belmopan, Population: 397621
Name: Benin, Capital: Porto-Novo, Population: 12123198
Name: Bermuda, Capital: Hamilton, Population: 63903
Name: Bhutan, Capital: Thimphu, Population: 771612
Name: Bolivia (Plurinational State of), Capital: Sucre, Population: 11673029
Name: Bonaire, Sint Eustatius and Saba, Capital: Kralendijk, Population: 17408
Name: Bosnia and Herzegovina, Capital: Sarajevo, Population: 3280815
Name: Botswana, Capital: Gaborone, Population: 2351625
Name: Bouvet Island, Capital: N/A, Population: 0
Name: Brazil, Capital: Brasília, Population: 212559409
Name: British Indian Ocean Territory, Capital: Diego Garcia, Population: 3000
Name: United States Minor Outlying Islands, Capital: N/A, Population: 300
Name: Virgin Islands (British), Capital: Road Town, Population: 30237
Name: Virgin Islands (U.S.), Capital: Charlotte Amalie, Population: 106290
Name: Brunei Darussalam, Capital: Bandar Seri Begawan, Population: 437483
Name: Bulgaria, Capital: Sofia, Population: 6927288
Name: Burkina Faso, Capital: Ouagadougou, Population: 20903278
Name: Burundi, Capital: Gitega, Population: 11890781
Name: Cambodia, Capital: Phnom Penh, Population: 16718971
Name: Cameroon, Capital: Yaoundé, Population: 26545864
Name: Canada, Capital: Ottawa, Population: 38005238
Name: Cabo Verde, Capital: Praia, Population: 555988
Name: Cayman Islands, Capital: George Town, Population: 65720
Name: Central African Republic, Capital: Bangui, Population: 4829764
Name: Chad, Capital: N'Djamena, Population: 16425859
Name: Chile, Capital: Santiago, Population: 19116209
Name: China, Capital: Beijing, Population: 1402112000
Name: Christmas Island, Capital: Flying Fish Cove, Population: 2072
Name: Cocos (Keeling) Islands, Capital: West Island, Population: 550
Name: Colombia, Capital: Bogotá, Population: 50882884
Name: Comoros, Capital: Moroni, Population: 869595
Name: Congo, Capital: Brazzaville, Population: 5518092
Name: Congo (Democratic Republic of the), Capital: Kinshasa, Population: 89561404
Name: Cook Islands, Capital: Avarua, Population: 18100
Name: Costa Rica, Capital: San José, Population: 5094114
Name: Croatia, Capital: Zagreb, Population: 4047200
Name: Cuba, Capital: Havana, Population: 11326616
Name: Curaçao, Capital: Willemstad, Population: 155014
Name: Cyprus, Capital: Nicosia, Population: 1207361
Name: Czech Republic, Capital: Prague, Population: 10698896
Name: Denmark, Capital: Copenhagen, Population: 5831404
Name: Djibouti, Capital: Djibouti, Population: 988002
Name: Dominica, Capital: Roseau, Population: 71991
Name: Dominican Republic, Capital: Santo Domingo, Population: 10847904
Name: Ecuador, Capital: Quito, Population: 17643060
Name: Egypt, Capital: Cairo, Population: 102334403
Name: El Salvador, Capital: San Salvador, Population: 6486201
Name: Equatorial Guinea, Capital: Malabo, Population: 1402985
Name: Eritrea, Capital: Asmara, Population: 5352000
Name: Estonia, Capital: Tallinn, Population: 1331057
Name: Ethiopia, Capital: Addis Ababa, Population: 114963583
Name: Falkland Islands (Malvinas), Capital: Stanley, Population: 2563
Name: Faroe Islands, Capital: Tórshavn, Population: 48865
Name: Fiji, Capital: Suva, Population: 896444
Name: Finland, Capital: Helsinki, Population: 5530719
Name: France, Capital: Paris, Population: 67391582
Name: French Guiana, Capital: Cayenne, Population: 254541
Name: French Polynesia, Capital: Papeetē, Population: 280904
Name: French Southern Territories, Capital: Port-aux-Français, Population: 140
Name: Gabon, Capital: Libreville, Population: 2225728
Name: Gambia, Capital: Banjul, Population: 2416664
Name: Georgia, Capital: Tbilisi, Population: 3714000
Name: Germany, Capital: Berlin, Population: 83240525
Name: Ghana, Capital: Accra, Population: 31072945
Name: Gibraltar, Capital: Gibraltar, Population: 33691
Name: Greece, Capital: Athens, Population: 10715549
Name: Greenland, Capital: Nuuk, Population: 56367
Name: Grenada, Capital: St. George's, Population: 112519
Name: Guadeloupe, Capital: Basse-Terre, Population: 400132
Name: Guam, Capital: Hagåtña, Population: 168783
Name: Guatemala, Capital: Guatemala City, Population: 16858333
Name: Guernsey, Capital: St. Peter Port, Population: 62999
Name: Guinea, Capital: Conakry, Population: 13132792
Name: Guinea-Bissau, Capital: Bissau, Population: 1967998
Name: Guyana, Capital: Georgetown, Population: 786559
Name: Haiti, Capital: Port-au-Prince, Population: 11402533
Name: Heard Island and McDonald Islands, Capital: N/A, Population: 0
Name: Vatican City, Capital: Vatican City, Population: 451
Name: Honduras, Capital: Tegucigalpa, Population: 9904608
Name: Hungary, Capital: Budapest, Population: 9749763
Name: Hong Kong, Capital: City of Victoria, Population: 7481800
Name: Iceland, Capital: Reykjavík, Population: 366425
Name: India, Capital: New Delhi, Population: 1380004385
Name: Indonesia, Capital: Jakarta, Population: 273523621
Name: Ivory Coast, Capital: Yamoussoukro, Population: 26378275
Name: Iran (Islamic Republic of), Capital: Tehran, Population: 83992953
Name: Iraq, Capital: Baghdad, Population: 40222503
Name: Ireland, Capital: Dublin, Population: 4994724
Name: Isle of Man, Capital: Douglas, Population: 85032
Name: Israel, Capital: Jerusalem, Population: 9216900
Name: Italy, Capital: Rome, Population: 59554023
Name: Jamaica, Capital: Kingston, Population: 2961161
Name: Japan, Capital: Tokyo, Population: 125836021
Name: Jersey, Capital: Saint Helier, Population: 100800
Name: Jordan, Capital: Amman, Population: 10203140
Name: Kazakhstan, Capital: Nur-Sultan, Population: 18754440
Name: Kenya, Capital: Nairobi, Population: 53771300
Name: Kiribati, Capital: South Tarawa, Population: 119446
Name: Kuwait, Capital: Kuwait City, Population: 4270563
Name: Kyrgyzstan, Capital: Bishkek, Population: 6591600
Name: Lao People's Democratic Republic, Capital: Vientiane, Population: 7275556
Name: Latvia, Capital: Riga, Population: 1901548
Name: Lebanon, Capital: Beirut, Population: 6825442
Name: Lesotho, Capital: Maseru, Population: 2142252
Name: Liberia, Capital: Monrovia, Population: 5057677
Name: Libya, Capital: Tripoli, Population: 6871287
Name: Liechtenstein, Capital: Vaduz, Population: 38137
Name: Lithuania, Capital: Vilnius, Population: 2794700
Name: Luxembourg, Capital: Luxembourg, Population: 632275
Name: Macao, Capital: N/A, Population: 649342
Name: North Macedonia, Capital: Skopje, Population: 2083380
Name: Madagascar, Capital: Antananarivo, Population: 27691019
Name: Malawi, Capital: Lilongwe, Population: 19129955
Name: Malaysia, Capital: Kuala Lumpur, Population: 32365998
Name: Maldives, Capital: Malé, Population: 540542
Name: Mali, Capital: Bamako, Population: 20250834
Name: Malta, Capital: Valletta, Population: 525285
Name: Marshall Islands, Capital: Majuro, Population: 59194
Name: Martinique, Capital: Fort-de-France, Population: 378243
Name: Mauritania, Capital: Nouakchott, Population: 4649660
Name: Mauritius, Capital: Port Louis, Population: 1265740
Name: Mayotte, Capital: Mamoudzou, Population: 226915
Name: Mexico, Capital: Mexico City, Population: 128932753
Name: Micronesia (Federated States of), Capital: Palikir, Population: 115021
Name: Moldova (Republic of), Capital: Chișinău, Population: 2617820
Name: Monaco, Capital: Monaco, Population: 39244
Name: Mongolia, Capital: Ulan Bator, Population: 3278292
Name: Montenegro, Capital: Podgorica, Population: 621718
Name: Montserrat, Capital: Plymouth, Population: 4922
Name: Morocco, Capital: Rabat, Population: 36910558
Name: Mozambique, Capital: Maputo, Population: 31255435
Name: Myanmar, Capital: Naypyidaw, Population: 54409794
Name: Namibia, Capital: Windhoek, Population: 2540916
Name: Nauru, Capital: Yaren, Population: 10834
Name: Nepal, Capital: Kathmandu, Population: 29136808
Name: Netherlands, Capital: Amsterdam, Population: 17441139
Name: New Caledonia, Capital: Nouméa, Population: 271960
Name: New Zealand, Capital: Wellington, Population: 5084300
Name: Nicaragua, Capital: Managua, Population: 6624554
Name: Niger, Capital: Niamey, Population: 24206636
Name: Nigeria, Capital: Abuja, Population: 206139587
Name: Niue, Capital: Alofi, Population: 1470
Name: Norfolk Island, Capital: Kingston, Population: 2302
Name: Korea (Democratic People's Republic of), Capital: Pyongyang, Population: 25778815
Name: Northern Mariana Islands, Capital: Saipan, Population: 57557
Name: Norway, Capital: Oslo, Population: 5379475
Name: Oman, Capital: Muscat, Population: 5106622
Name: Pakistan, Capital: Islamabad, Population: 220892331
Name: Palau, Capital: Ngerulmud, Population: 18092
Name: Palestine, State of, Capital: Ramallah, Population: 4803269
Name: Panama, Capital: Panama City, Population: 4314768
Name: Papua New Guinea, Capital: Port Moresby, Population: 8947027
Name: Paraguay, Capital: Asunción, Population: 7132530
Name: Peru, Capital: Lima, Population: 32971846
Name: Philippines, Capital: Manila, Population: 109581085
Name: Pitcairn, Capital: Adamstown, Population: 56
Name: Poland, Capital: Warsaw, Population: 37950802
Name: Portugal, Capital: Lisbon, Population: 10305564
Name: Puerto Rico, Capital: San Juan, Population: 3194034
Name: Qatar, Capital: Doha, Population: 2881060
Name: Republic of Kosovo, Capital: Pristina, Population: 1775378
Name: Réunion, Capital: Saint-Denis, Population: 840974
Name: Romania, Capital: Bucharest, Population: 19286123
Name: Russian Federation, Capital: Moscow, Population: 144104080
Name: Rwanda, Capital: Kigali, Population: 12952209
Name: Saint Barthélemy, Capital: Gustavia, Population: 9417
Name: Saint Helena, Ascension and Tristan da Cunha, Capital: Jamestown, Population: 4255
Name: Saint Kitts and Nevis, Capital: Basseterre, Population: 53192
Name: Saint Lucia, Capital: Castries, Population: 183629
Name: Saint Martin (French part), Capital: Marigot, Population: 38659
Name: Saint Pierre and Miquelon, Capital: Saint-Pierre, Population: 6069
Name: Saint Vincent and the Grenadines, Capital: Kingstown, Population: 110947
Name: Samoa, Capital: Apia, Population: 198410
Name: San Marino, Capital: City of San Marino, Population: 33938
Name: Sao Tome and Principe, Capital: São Tomé, Population: 219161
Name: Saudi Arabia, Capital: Riyadh, Population: 34813867
Name: Senegal, Capital: Dakar, Population: 16743930
Name: Serbia, Capital: Belgrade, Population: 6908224
Name: Seychelles, Capital: Victoria, Population: 98462
Name: Sierra Leone, Capital: Freetown, Population: 7976985
Name: Singapore, Capital: Singapore, Population: 5685807
Name: Sint Maarten (Dutch part), Capital: Philipsburg, Population: 40812
Name: Slovakia, Capital: Bratislava, Population: 5458827
Name: Slovenia, Capital: Ljubljana, Population: 2100126
Name: Solomon Islands, Capital: Honiara, Population: 686878
Name: Somalia, Capital: Mogadishu, Population: 15893219
Name: South Africa, Capital: Pretoria, Population: 59308690
Name: South Georgia and the South Sandwich Islands, Capital: King Edward Point, Population: 30
Name: Korea (Republic of), Capital: Seoul, Population: 51780579
Name: Spain, Capital: Madrid, Population: 47351567
Name: Sri Lanka, Capital: Sri Jayawardenepura Kotte, Population: 21919000
Name: Sudan, Capital: Khartoum, Population: 43849269
Name: South Sudan, Capital: Juba, Population: 11193729
Name: Suriname, Capital: Paramaribo, Population: 586634
Name: Svalbard and Jan Mayen, Capital: Longyearbyen, Population: 2562
Name: Swaziland, Capital: Mbabane, Population: 1160164
Name: Sweden, Capital: Stockholm, Population: 10353442
Name: Switzerland, Capital: Bern, Population: 8636896
Name: Syrian Arab Republic, Capital: Damascus, Population: 17500657
Name: Taiwan, Capital: Taipei, Population: 23503349
Name: Tajikistan, Capital: Dushanbe, Population: 9537642
Name: Tanzania, United Republic of, Capital: Dodoma, Population: 59734213
Name: Thailand, Capital: Bangkok, Population: 69799978
Name: Timor-Leste, Capital: Dili, Population: 1318442
Name: Togo, Capital: Lomé, Population: 8278737
Name: Tokelau, Capital: Fakaofo, Population: 1411
Name: Tonga, Capital: Nuku'alofa, Population: 105697
Name: Trinidad and Tobago, Capital: Port of Spain, Population: 1399491
Name: Tunisia, Capital: Tunis, Population: 11818618
Name: Turkey, Capital: Ankara, Population: 84339067
Name: Turkmenistan, Capital: Ashgabat, Population: 6031187
Name: Turks and Caicos Islands, Capital: Cockburn Town, Population: 38718
Name: Tuvalu, Capital: Funafuti, Population: 11792
Name: Uganda, Capital: Kampala, Population: 45741000
Name: Ukraine, Capital: Kyiv, Population: 44134693
Name: United Arab Emirates, Capital: Abu Dhabi, Population: 9890400
Name: United Kingdom of Great Britain and Northern Ireland, Capital: London, Population: 67215293
Name: United States of America, Capital: Washington, D.C., Population: 329484123
Name: Uruguay, Capital: Montevideo, Population: 3473727
Name: Uzbekistan, Capital: Tashkent, Population: 34232050
Name: Vanuatu, Capital: Port Vila, Population: 307150
Name: Venezuela (Bolivarian Republic of), Capital: Caracas, Population: 28435943
Name: Vietnam, Capital: Hanoi, Population: 97338583
Name: Wallis and Futuna, Capital: Mata-Utu, Population: 11750
Name: Western Sahara, Capital: El Aaiún, Population: 510713
Name: Yemen, Capital: Sana'a, Population: 29825968
Name: Zambia, Capital: Lusaka, Population: 18383956
Name: Zimbabwe, Capital: Harare, Population: 14862927

Prompt für ChatGPT: ```I don't want to print the result, but would prefer it in a Pandas dataframe I can save off. Can you help me?```

In [11]:
import requests
import pandas as pd

url = "https://restcountries.com/v2/all?fields=name,capital,population,languages"

response = requests.get(url)

if response.status_code == 200:
    countries = response.json()
    # Create a DataFrame from the JSON data
    df = pd.DataFrame(countries)
    
    # Save the DataFrame to a CSV file
    df.to_csv('countries_data.csv', index=False)
else:
    print(f"Error {response.status_code}: Unable to fetch data.")

In [12]:
ls

01 ChatGPT und APIs.md*               countries_data.csv
02 Working with REST Countries.ipynb  Übung2 (Lösungen).ipynb
04 Anatomie einer Website.pdf*        Übung2.ipynb*

In [13]:
df.head()

,name,capital,population,languages,independent
0,Afghanistan,Kabul,40218234,"[{'iso639_1': 'ps', 'iso639_2': 'pus', 'name':...",False
1,Åland Islands,Mariehamn,28875,"[{'iso639_1': 'sv', 'iso639_2': 'swe', 'name':...",False
2,Albania,Tirana,2837743,"[{'iso639_1': 'sq', 'iso639_2': 'sqi', 'name':...",False
3,Algeria,Algiers,44700000,"[{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...",False
4,American Samoa,Pago Pago,55197,"[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...",False